{{ define "main" }}
    {{ $paginator := .Paginate .Pages 10 }}
    {{ $pageReviews := $paginator.Pages }}
    {{ $titles := slice }}
    {{ range $pageReviews }}
        {{ $titles = append .Title $titles }}
    {{ end }}
    <div class="container col-xxl-8 px-2 py-2">
        <div class="row flex-lg-row-reverse align-items-center g-5 mt-5">
            <div class="col-lg-6">
                <img
                    src="/images/reviews/Reviews.Pg.Image.png"
                    class="d-block mx-lg-auto img-responsive w-100"
                    alt="Side Banner"
                    loading="lazy" />
                <!-- <p class="small">
          Image used as a filler - may change in the final version
        </p> -->
            </div>
            <div class="col-lg-6">
                <div class="lead mb-4">
                    {{ .Content }}
                </div>
                <p class="fira-sans-regular fw-bold small bright mb-2">
                    You can also browse reviews using our
                    <a href="/mreviews">alphabetical index</a> of films reviewed
                </p>
                <p><a class="anchor" id="pg-top"></a></p>
                <h6 class="fw-bold">Films reviewed on this Page</h6>
                <p class="small">
                    {{ range ($titles | uniq) }}
                        {{ $count := (where $pageReviews "Title" .) | len }}
                        <span class="fira-sans-regular"
                            >{{ . }} ({{ $count }})</span
                        ><br />
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <p class="fira-sans-regular fw-bold bright mb-1">
                Page {{ $paginator.PageNumber }} of
                {{ $paginator.TotalPages }}
            </p>
        </div>
        <div class="d-flex justify-content-center  pt-2 mb-3">
            {{ template "_internal/pagination.html" . }}
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                {{ range  $pageReviews }}
                    {{ if eq .Params.media "print" }}
                        {{ block "print-review" . }}{{ end }}
                    {{ else }}
                        {{ block "video-review" . }}{{ end }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="d-flex justify-content-center py-3 mb-3">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
    <script defer>
        let url = window.location.href;
        const mch = url.match(/page\/(\d+)\/$/);
        if (mch && mch[1] !== 1) {
            let anch = document.getElementById("pg-top");
            window.addEventListener("load", function (e) {
                anch.scrollIntoView();
            });
        }
    </script>
{{ end }}

{{ define "print-review" }}
    {{ $extLinkIcon := index site.Data.svgicons.icons "externalLink" }}
    {{ $intLinkIcon := index site.Data.svgicons.icons "internalLink" }}
    {{ $critic := index .Params.critics 0 }}
    {{ $revCount := .Site.Taxonomies.mreviews.Count .Title }}
    {{ $revPage := index .Site.Taxonomies.mreviews (lower .Title) }}
    {{ $critPage := index .Site.Taxonomies.critics (lower $critic) }}
    {{ $memberPage := index (where .Site.RegularPages "Title" $critPage.Page.Title) 0 }}
    {{ $designation := partial "designation" $memberPage.Params.designations }}
    <div class="row mb-3">
        <div class="col-lg-8 offset-lg-2">
            <h6 class="fw-bold">
                <span class="d-inline-block pb-2">{{ .Title }}</span>
                <br />
                <span class="small"
                    ><a href="{{ $critPage.Page.RelPermalink }}"
                        >{{ $critic }} {{ $intLinkIcon | safeHTML }}</a
                    ><br />
                    <span class="small">{{ $designation }}</span>
                </span>
            </h6>
            <img
                src="/images/reviews/{{- .Params.img }}"
                class="img-responsive w-100 mb-3" />
            <h6 class="fw-bold small">
                {{ .Params.subtitle | safeHTML }}
            </h6>
            <p class="summary small text-primary-emphasis">
                {{ .Params.opening }}
            </p>
            <div class="small">
                {{ .Summary }}
            </div>
            <p class="small mb-1">
                <a
                    target="_blank"
                    href="{{ .Params.source }}"
                    class="d-flex align-items-center">
                    {{ $extLinkIcon | safeHTML }} Continue reading &hellip;</a
                >
            </p>
            {{ if gt $revCount 1 }}
                <h6 class="fw-bold small">
                    Read all {{ $revCount }} reviews of
                    {{ .Title }}
                    <a href="{{ $revPage.Page.RelPermalink }}"
                        >here {{ $intLinkIcon | safeHTML }}</a
                    >
                </h6>
            {{ end }}
            <hr class="my-3" />
        </div>
    </div>
{{ end }}

{{ define "video-review" }}
    {{ $extLinkIcon := index site.Data.svgicons.icons "externalLink" }}
    {{ $intLinkIcon := index site.Data.svgicons.icons "internalLink" }}
    {{ $critic := index .Params.critics 0 }}
    {{ $revCount := .Site.Taxonomies.mreviews.Count .Title }}
    {{ $revPage := index .Site.Taxonomies.mreviews (lower .Title) }}
    {{ $critPage := index .Site.Taxonomies.critics (lower $critic) }}
    {{ $memberPage := index (where .Site.RegularPages "Title" $critPage.Page.Title) 0 }}
    {{ $designation := partial "designation" $memberPage.Params.designations }}
    <div class="row mb-3">
        <div class="col-lg-8 offset-lg-2">
            <h6 class="fw-bold pb-3">
                <span class="d-inline-block pb-2">{{ .Title }}</span>
                <br />
                <span class="small"
                    ><a href="{{ $critPage.Page.RelPermalink }}"
                        >{{ $critic }} {{ $intLinkIcon | safeHTML }}</a
                    ><br />
                    <span class="small">{{ $designation }}</span>
                </span>
            </h6>
            {{ .Content }}
            <h6 class="fw-bold small pt-3">{{ .Params.subtitle }}</h6>
            {{ if gt $revCount 1 }}
                <h6 class="fw-bold small">
                    Read all {{ $revCount }} reviews of
                    {{ .Title }}
                    <a href="{{ $revPage.Page.RelPermalink }}"
                        >here {{ $intLinkIcon | safeHTML }}</a
                    >
                </h6>
            {{ end }}
            <hr class="my-3" />
        </div>
    </div>
{{ end }}
