{{ define "main" }}
  <div class="container col-xxl-8 px-2 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 mt-5">
      <div class="col-lg-6">
        <img
          src="/images/reviews/Reviews.Pg.Image.png"
          class="d-block mx-lg-auto img-responsive w-100"
          alt="Side Banner"
          loading="lazy" />
        <!-- <p class="small">
          Image used as a filler - may change in the final version
        </p> -->
      </div>
      <div id="pg-top" class="col-lg-6 lead">
        {{ .Content }}
      </div>
    </div>
  </div>
  {{ $paginator := .Paginate .Pages 6 }}
  {{ $pageReviews := $paginator.Pages }}
  <div class="container">
    <div class="d-flex justify-content-center py-3 mb-3">
      {{ template "_internal/pagination.html" . }}
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-1 highlight">
        {{ $videoReviews := where $paginator.Pages "Type" "video" }}
        <div class="row">
          <h5 class="my-4">Video Reviews</h5>
          {{ if $videoReviews | len }}
            {{ range  $videoReviews }}
              <div class="col-md-12">
                {{ block "video-review" . }}{{ end }}
              </div>
            {{ end }}
          {{ else }}
            <h6>No Video reviews available in this period.</h6>
          {{ end }}
        </div>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="row">
          {{ $printReviews := where $paginator.Pages "Type" "print" }}
          {{ if $printReviews | len }}
            <h5 class="my-4">Print/Online Reviews</h5>
            {{ range  $printReviews }}
              <div class="col-md-12">
                {{ block "print-review" . }}{{ end }}
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-3 mb-3">
      {{ template "_internal/pagination.html" . }}
    </div>

    {{ $titles := slice }}
    {{ range .Site.Taxonomies.mreviews }}
      {{ $titles = $titles | append .Page.Title }}
    {{ end }}

    {{ $searchJS := resources.Get "js/search.js" }}
    {{ $rs := js.Build (dict "targetPath" "js/xsearch.js" "minify" true "params" (dict "x" $titles "moveTo" "pg-top")) $searchJS }}


    <script type="text/javascript" src="{{ $rs.RelPermalink }}" defer></script>
  </div>

  <script></script>
{{ end }}

{{ define "print-review" }}
  {{ $extLinkIcon := index site.Data.svgicons.icons "external-link" }}
  {{ $intLinkIcon := index site.Data.svgicons.icons "internal-link" }}
  {{ $critic := index .Params.critics 0 }}
  {{ $revCount := .Site.Taxonomies.mreviews.Count .Title }}
  {{ $revPage := index .Site.Taxonomies.mreviews (lower .Title) }}
  {{ $critPage := index .Site.Taxonomies.critics (lower $critic) }}
  <h6 class="fw-bold">
    {{ .Title }}
    <br />
    <span class="small"
      ><a href="{{ $critPage.Page.Permalink }}"
        >{{ $critic }} {{ $intLinkIcon | safeHTML }}</a
      ></span
    >
  </h6>
  <img
    src="/images/reviews/{{- .Params.img }}"
    class="img-responsive w-100 mb-3" />
  <h6 class="fw-bold small pb-2">
    {{ .Params.subtitle | safeHTML }}
  </h6>
  <p class="summary small text-primary-emphasis">
    {{ .Params.opening }}
  </p>
  <div class="small">
    {{ .Content }}
  </div>
  {{ if gt $revCount 1 }}
    <h6 class="fw-bold small">
      Read all {{ $revCount }} reviews of
      {{ .Title }}
      <a href="{{ $revPage.Page.Permalink }}"
        >here {{ $intLinkIcon | safeHTML }}</a
      >
    </h6>
  {{ end }}
  <p class="small">
    <a
      target="_blank"
      href="{{ .Params.source }}"
      class="d-flex align-items-center">
      {{ $extLinkIcon | safeHTML }} Continue reading &hellip;</a
    >
  </p>
  <hr />
{{ end }}

{{ define "video-review" }}
  {{ $extLinkIcon := index site.Data.svgicons.icons "external-link" }}
  {{ $intLinkIcon := index site.Data.svgicons.icons "internal-link" }}
  {{ $critic := index .Params.critics 0 }}
  {{ $revCount := .Site.Taxonomies.mreviews.Count .Title }}
  {{ $revPage := index .Site.Taxonomies.mreviews (lower .Title) }}
  {{ $critPage := index .Site.Taxonomies.critics (lower $critic) }}
  <h6 class="fw-bold">
    {{ .Title }}<br />
    <span class="small"
      ><a href="{{ $critPage.Page.Permalink }}"
        >{{ $critic }} {{ $intLinkIcon | safeHTML }}</a
      ></span
    >
  </h6>
  {{ .Content }}
  <h6 class="fw-bold small pt-1 pb-3">
    {{ .Params.subtitle }}
  </h6>
  {{ if gt $revCount 1 }}
    <h6 class="fw-bold small">
      Read all {{ $revCount }} reviews of
      {{ .Title }}
      <a href="{{ $revPage.Page.Permalink }}"
        >here {{ $intLinkIcon | safeHTML }}</a
      >
    </h6>
  {{ end }}
  <hr />
{{ end }}
