{{ define "main" }}
  <div class="container" style="margin-top: 70px;">
    <div class="row pt-5">
      <div class="col-lg-5 pt-5 mt-5">
        <h2>{{ .Title }}</h2>
        <h4><a href="#">{{ .Params.critic }}</a></h4>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        <img
          src="/images/reviews/{{ .Params.img }}"
          class="img-responsive w-100 pb-3" />
        <h5>{{ .Params.subtitle }}</h5>
        <hr />
      </div>
      <div class="col-lg-7">
        <p class="summary my-5">
          {{ .Params.opening }}
        </p>
        {{ .Content }}
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </div>
    </div>
  </div>
{{ end }}
