{{ define "main" }}
    <div class="container-fluid">
        <img src="/images/members/banner.png" class="img-responsive w-100" />
    </div>
    <div class="container" style="padding-top:100px;">
        <div class="row">
            <div class="col-8 py-4">
                <!-- Using the guild/members list template -->
                {{ .Content }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ps-4 pe-4 py-3 highlight">
                <h3>The Board</h3>
                <h6 class="mb-3">2024&ndash;2027</h6>
                {{ range where .Site.RegularPages "Type" "board" }}
                    <div class="col-xxl-11">
                        {{ block "member" . }}{{ end }}
                        <hr class="py-2" />
                    </div>
                {{ end }}
            </div>
            <div id="pg-top" class="col-lg-8 ps-5 py-3">
                <h3>{{ .Title }}</h3>
                {{ $paginator := .Paginate .RegularPages 12 }}
                <div class="d-flex justify-content-center py-3 mb-3">
                    {{ template "_internal/pagination.html" . }}
                </div>
                <div class="row">
                    {{ range $paginator.Pages }}
                        <div class="col-xxl-4 col-xl-6 mb-5">
                            {{ block "member" . }}{{ end }}
                            <hr class="show-on-phone py-2" />
                        </div>
                    {{ end }}
                </div>
                <div class="d-flex justify-content-center py-3 mb-3">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </div>
        </div>
    </div>
    <script>
        let url = window.location.href;
        const mch = url.match(/page\/(\d+)\/$/);
        if (mch && mch[1] !== 1) {
            let anch = document.getElementById("pg-top");
            window.addEventListener("load", function (e) {
                anch.scrollIntoView();
            });
        }
    </script>
{{ end }}

{{ define "member" }}
    <h6 class="mb-0">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        <div class="float-end">
            {{ partial "social-media-links.html" .Params.soc_media }}
        </div>
    </h6>
    {{ with .Params.organizations }}
        <p class="fira-sans-regular small mb-0">
            {{ delimit . ", " " and " }}
        </p>
    {{ end }}
    <img
        src="{{- .Params.img }}"
        class="img-responsive w-100 py-3"
        alt="{{ .Title }}" />
    <div class="small">
        {{ .Summary }}
    </div>
{{ end }}
