{{ define "main" }}
  <div class="container col-xxl-8 px-2 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <img
          src="/images/fcg-side-banner.png"
          class="d-block mx-lg-auto img-responsive w-100"
          alt="Side Banner"
          loading="lazy" />
        <!-- <p class="small">
          Image used as a filler - may change in the final version
        </p> -->
      </div>
      <div class="col-lg-6 lead">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="container">
    {{ partial "navigate.html" . }}
    <hr class="pb-4" />
  </div>
  <div class="container">
    <div class="d-flex justify-content-center">
      <h2 class="fw-bold mb-5 bg-news">Guild Members in the News</h2>
    </div>
    {{ partial "top-n.html" (dict "section" "news" "n" 4) }}
    <hr class="pb-4" />
  </div>
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <h2 class="fw-bold mb-5 bg-reviews">Latest Member Reviews</h2>
      </div>
      <p class="mb-4">
        Read all reviews by our members <a href="/reviews">here</a><br />
      </p>
      <div class="col-lg-3 border-end highlight pt-3">
        <h5 class="mb-2">Video Reviews</h5>
        {{ partial "top-n-video-reviews.html" }}
      </div>
      <div class="col-lg-9 pt-3">
        <h5 class="mb-2">Print/Online Reviews</h5>
        {{ partial "top-n-print-reviews.html" (dict "n" 3) }}
      </div>
    </div>
  </div>
  <div class="container-fluid pt-5 pb-1 my-5" style="background-color: #eef5fb">
    <div class="container">
      <div class="row mt-3 mb-5">
        <div class="d-flex justify-content-center">
          <h2 class="fw-bold mb-5 bg-awards">Critics Choice Awards 2024</h2>
        </div>
        <div class="col-lg-6">
          <p class="lead">
            The Critics' Choice Film Awards is a platform to celebrate diversity
            and flair in Indian films. It is a space to reward and recognise
            creativity, ingenuity and quality.
          </p>
          <p>
            As a pan-India award, the Critics' Choice Film Awards represents the
            diverse range of filmmaking in the country. It honours talent and
            displays the rich culture of films across languages, styles and
            themes. The Critics' Choice Film Awards were instituted in 2018 and
            have continued every year since.
          </p>
          <p>
            In our first edition, the awards recognized short films, in the
            second we enhanced the awards to include the exciting and burgeoning
            space of web series and episodic content. This year we aim to
            continue unearthing and honoring talent from this flourishing space.
            With a transparent process to identify worthy winners, these awards
            aim to reward the immense creativity of this industry.
          </p>
          <p>View earlier years from <a href="/awards/awards-2023">here</a></p>
        </div>
        <div class="col-lg-6">
          <div class="row mb-3">
            <h5 class="fw-bold text-center mb-4">Special Awards 2024</h5>
            <div class="col-lg-6 mb-4">
              <img
                src="/images/awards/2024/Winner-Extraordinary-Contribution-to-Cinema-Award.jpg"
                class="img-responsive w-100" />
            </div>
            <div class="col-lg-6">
              <img
                src="/images/awards/2024/Winner-Gender-Sensitivity-Award.jpg"
                class="img-responsive w-100" />
            </div>
          </div>
          <div class="row">
            <p>
              Add a citation for extraordinary contribution and the gender
              sensitivity awards here
            </p>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-4 mb-5">
          <h5 class="fw-bold text-center mb-4">Feature Films 2024</h5>
          {{- partial "carousel.html" (dict "year" "2024" "category" "feature" "winners" .Site.Data.awards2024.feature.winners) -}}
        </div>
        <div class="col-lg-4 mb-5">
          <h5 class="fw-bold text-center mb-4">Web Series 2024</h5>
          {{- partial "carousel.html" (dict "year" "2024" "category" "web" "winners" .Site.Data.awards2024.web.winners) -}}
        </div>
        <div class="col-lg-4 mb-5">
          <h5 class="fw-bold text-center mb-4">Short Films 2024</h5>
          {{- partial "carousel.html" (dict "year" "2024" "category" "short" "winners" .Site.Data.awards2024.short.winners) -}}
        </div>
      </div>
    </div>
  </div>
{{ end }}
