{{ define "main" }}
    <div class="container-fluid mt-4">
        <img
            src="/images/nominations2026/cca-collage.jpg"
            class="img-responsive w-100" />
    </div>
    <div class="container" style="margin-top: 70px;">
        <div class="row mt-5">
            <div class="offset-lg-2 col-lg-8">
                <h1>{{ .Title }}</h1>
                {{ .Content }}
                {{ range .Pages }}
                    <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
                    {{ .Summary }}
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
