<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="container-fluid my-5">
      <header>
        {{ partial "header.html" . }}
        <img src="/images/banner.webp" class="img-responsive w-100" />
      </header>
    </div>
    <div class="container">
      <main>
        {{ block "main" . }}{{ end }}
      </main>
    </div>
    <div class="container-fluid">
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
    {{ partialCached "head/js.html" . }}
  </body>
</html>
