{{ define "main" }}
  <div class="container col-xxl-10 px-2 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <img
          src="/images/hero.jpg"
          class="d-block mx-lg-auto img-responsive w-100 mb-1 pt-5 mt-5"
          alt="Side Banner"
          loading="lazy" />
        <p class="small">
          Image used as a filler - may change in the final version
        </p>
      </div>
      <div class="col-lg-6 lead">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mb-5">
      <h2 class="fw-bold mb-4">Critics Choice Awards 2024</h2>
      <div class="col-lg-6">
        <p>
          The Critics' Choice Film Awards is a platform to celebrate diversity
          and flair in Indian films. It is a space to reward and recognise
          creativity, ingenuity and quality. As a pan-India award, the Critic' s
          Choice Film Awards will represent the diverse range of filmmaking in
          the country. It will honour talent and display the rich culture of
          films across languages, styles and themes. The Critics' Choice Film
          Awards were instituted in 2018 and have continued every year since.
        </p>
        <p>
          In our first edition, the awards recognized short films, in the second
          we enhanced the awards to include the exciting and burgeoning space of
          web series and episodic content. This year we aim to continue
          unearthing and honoring talent from this flourishing space. With a
          transparent process to identify worthy winners, these awards aim to
          reward the immense creativity of this industry.
        </p>
        <p>View earlier years <a href="#">here</a></p>
      </div>
      <div class="col-lg-6">
        <div class="row mb-3">
          <h3 class="fw-bold text-center mb-4">Special Awards 2024</h3>
          <div class="col-lg-6 mb-4">
            <img
              src="/images/awards/2024/Winner-Extraordinary-Contribution-to-Cinema-Award.jpg"
              class="img-responsive w-100" />
          </div>
          <div class="col-lg-6">
            <img
              src="/images/awards/2024/Winner-Gender-Sensitivity-Award.jpg"
              class="img-responsive w-100" />
          </div>
        </div>
        <div class="row">
          <p>
            Add a citation for extraordinary contribution and the gender
            sensitivity awards here
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-4 mb-5">
        <h3 class="fw-bold text-center mb-4">Feature Films 2024</h3>
        {{ partial "carousel-2024-feature.html" . }}
      </div>
      <div class="col-lg-4 mb-5">
        <h3 class="fw-bold text-center mb-4">Web Series 2024</h3>
        {{ partial "carousel-2024-web.html" . }}
      </div>
      <div class="col-lg-4 mb-5">
        <h3 class="fw-bold text-center mb-4">Short Films 2024</h3>
        {{ partial "carousel-2024-short.html" . }}
      </div>
    </div>
    <hr class="pb-4" />
    <div class="row">
      <h2 class="fw-bold mb-4">Guild Members in the News</h2>
      <p class="mb-4">Read older news articles <a href="#">here</a></p>
      <div class="col-lg-6">
        <h5 class="fw-bold mb-4">
          Senior Journalist & Film Critic Deepak Dua Honored with<br />Best
          Critic Award at 70th National Film Awards
        </h5>
        <p>
          <img
            src="/images/news/deepak-dua.jpg"
            class="img-responsive float-start pt-2 pe-4 pb-3" />
          In a momentous recognition of his longstanding contributions to film
          journalism, Senior Journalist and Film Critic Deepak Dua has been
          honored with the Best Critic Award at the 70th National Film Awards
          for the year 2022. The prestigious award was announced to Dua by the
          esteemed Jury members in an event held today. Deepak Dua, who has been
          a prominent figure in Delhi’s film criticism and travel writing since
          1993, has made significant contributions to the field through his
          portal, ‘Cineyatra.com,’ as well as various newspapers, magazines, web
          portals, TV channels, and radio stations. His insights into cinema and
          travel have resonated widely, earning him accolades and respect in the
          industry.
        </p>
      </div>
      <div class="col-lg-6">
        <h5 class="fw-bold mb-4">
          Bhawana Somaaya launched her book,<br />&ldquo;On Camera Off
          Camera&rdquo;, with Tollywood stars
        </h5>
        <p>
          <img
            src="/images/news/somaya-book.jpg"
            class="img-responsive float-start pt-2 pe-4 pb-3" />
          Veteran film critic and author Bhawana Somaaya launched her book
          &ldquo;On Camera Off Camera&rd Presented by Caring Minds in
          association with t2, the book was unveiled in the presence of actors
          Moon Moon Sen, Parambrata Chattopadhyay and Sudipta Chakraborty who
          later sat for an engaging discussion that ranged from an
          actor-journalist relationship to the responsibility of a film critic
          and more. Bhawana, who has authored multiple books on cinema apart
          from writing a few biographies, brings conversations with superstars
          of the ‘90s like Sridevi, Rajesh Khanna and Asha Parekh in her new
          book.
        </p>
      </div>
    </div>
    <hr class="pb-4" />
    <div class="row">
      <h2 class="fw-bold mb-4">Latest Member Reviews</h2>
      <p class="mb-4">
        Read more reviews by our members <a href="#">here</a><br />
        Individual reviews are also available from member's bio pages
      </p>
      <div class="col-lg-3 px-2">
        <h6 class="fw-bold pb-2">
          Berlin: The Spy Drama Isn't A Run-Of-The-Mill Espionage Thriler
        </h6>
        <img
          src="/images/reviews/Review-1.png"
          class="img-responsive w-100 mb-2" />
        <h6 class="fw-bold small">Member: Saibal Cahtterjee</h6>
        <p class="summary small">
          The film deserves kudos for its refusal to kowtow to the current
          demands of the Bollywood spy movie template
        </p>
        <p>
          New Delhi: Secret agents have been Bollywood action movie staples for
          some years now. A handful of them played by Mumbai's biggest stars now
          constitute a full-fledged spy universe rustled up by the industry's
          leading production house. They are unlikely to disappear from the
          Hindi showbiz radar anytime soon. Should we be interested in a small,
          understated cinematic clone built around a bunch of spies who are no
          patch on the big boys of the game? The answer is yes. Berlin, written
          and directed by Atul Sabharwal, isn't a run-of-the-mill espionage
          drama.
        </p>
        <p>Read full review <a href="#">here</a></p>
        <hr class="show-on-phone py-2" />
      </div>
      <div class="col-lg-3">
        <h6 class="fw-bold pb-2">
          KishKindha Kaandam: A flawless screenplay drives this intriguing
          mystery drama
        </h6>
        <img
          src="/images/reviews/Review-2.webp"
          class="img-responsive w-100 mb-2" />
        <h6 class="fw-bold small">Member: S. R. Praveen</h6>
        <p class="summary small">
          The true sign of any timeless work of art is that hard-to-achieve
          space of uncertainty, which the film masterfully occupies and easily
          finds a place among one of the best mystery-dramas Malayalam cinema
          has ever produced
        </p>
        <p>
          ‘Layered’ is a term we throw around lazily to describe any screenplay
          that has just a little more depth than meets the eye. But where does
          one start, when describing a screenplay which gives of the impression
          of peeling an onion, layer by layer, only for us to end up with an
          orange? Do we start off with the sheer joy of marvelling at the
          ingenuity of the writing or about the pains of its three principal
          characters that slowly seep into us, and stay with us long after?
        </p>
        <p>Read full review <a href="#">here</a></p>
        <hr class="show-on-phone py-2" />
      </div>
      <div class="col-lg-3">
        <h6 class="fw-bold pb-2">
          Rebel Ridge: Aaron Pierre Is Commanding In Tense, Satisfying Political
          Action Thriller
        </h6>
        <img
          src="/images/reviews/Review-3.webp"
          class="img-responsive w-100 mb-2" />
        <h6 class="fw-bold small">Member: Sonal Pandya</h6>
        <p class="summary small">
          Writer-director Jeremy Saulnier's standoff tale between a Black man
          and an entire corrupt town is nail-bitingly good.
        </p>
        <p>
          Jeremy Saulnier's Rebel Ridge doesn't waste a second getting into the
          thick of it. The Netflix feature opens with the incident that sets up
          the story. A Black man Terry Richmond (Aaron Pierre) is riding on a
          bike with headphones when he is abruptly thrown to the ground. Wrongly
          accused of carrying drug money, the former army man is on his way to
          bail out his cousin. The altercation goes off the wrong foot, setting
          the tone for the honourable man to give back to the crooked cops who
          have gamed the system.
        </p>
        <p>Read full review <a href="#">here</a></p>
        <hr class="show-on-phone py-2" />
      </div>
      <div class="col-lg-3">
        <h6 class="fw-bold pb-2">
          Call Me Bae: A poor little rich woman’s coming of age is skin-deep
        </h6>
        <img
          src="/images/reviews/Review-4.jpg"
          class="img-responsive w-100 mb-2" />
        <h6 class="fw-bold small">Member: Udita Jhunjhunwala</h6>
        <p class="summary small">
          Collin D’Cunha’s comedy, led by Ananya Panday, is out on Prime Video.
        </p>
        <p>
          In the Prime Video series Call Me Bae, Ananya Panday plays Bella
          Chowdhary, a South Delhi heiress. Bae’s life capsizes when her
          high-profile marriage to Agastya (Vihaan Samat) ends badly after she’s
          caught canoodling with her personal trainer Prince (Varun Sood).
        </p>
        <p>
          A disgraced Bae is dumped by her BFFs as well as ejected from family
          chats, WhatsApp groups and Delhi itself. Like Caroline Channing in the
          American sitcom Two Broke Girls, Bae finds herself with cancelled
          credit cards.
        </p>
        <p>Read full review <a href="#">here</a></p>
      </div>
    </div>
  </div>
{{ end }}
