body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #3e3e3e;
    padding-top: 60px;
}

.fira-sans-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.lora-normal {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #a11a0d;
    text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -6rem;
    visibility: hidden;
}
.bright {
    color: #1a3e6d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    color: #1a3e6d;
}

.navbar {
    background-color: #eef5fb;
    margin-bottom: 1rem;
}

.highlight {
    background-color: #eef5fb;
}

.nav-item a.active {
    color: #a11a0d !important;
}

.show-on-phone {
    display: none;
}

.bg-news {
    background: url("/images/bg-news.png") no-repeat;
    padding-left: 45px;
}

.bg-reviews {
    background: url("/images/bg-reviews.png") no-repeat;
    padding-left: 45px;
}

.bg-awards {
    background: url("/images/bg-awards.png") no-repeat;
    padding-left: 45px;
}

@media (max-width: 991.98px) {
    .show-on-phone {
        display: block;
        padding: 10px, 0;
    }
    .nav-item a.active {
        color: #a11a0d !important;
        border-bottom: none;
    }
}

@media (max-width: 992px) {
    .hide-on-phone {
        border-color: #ffffff !important;
    }
}

@media (min-width: 992px) {
    .pad-for-lg {
        padding-left: 2.5rem;
    }
}

.lead h1 {
    font-weight: 600;
    padding-bottom: 2rem;
}

.lead p {
    font-style: italic;
    color: #1d1d1d;
}

.summary {
    font-style: italic;
    font-weight: 600;
}

.join-list li {
    margin-bottom: 0.6rem;
}

#footer {
    background: #222 url(/images/foot_top.png) repeat;
    padding-top: 30px;
    margin-top: 60px;
    color: #666;
    font-family: "Fira Sans", sans-serif;
    font-size: smaller;
}

.container-fluid {
    --bs-gutter-x: 0;
}

.pagination > li > a {
    background-color: white;
    color: #a11a0d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a {
    color: white;
    background-color: #a11a0d !important;
    border: solid 1px #a11a0d !important;
}

.pagination > .active > a:hover {
    background-color: #a11a0d !important;
    border: solid 1px #a11a0d;
}

#footer li {
    padding: 0 0 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px #222 solid;
    line-height: 16px;
}
#footer li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

#footer .col-md-3 a {
    color: #aaa;
}
#footer .col-md-3 a:hover {
    color: #eee;
}

#footer h6 {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #aaa;
}
#footer .col-md-3 {
    padding-bottom: 30px;
}

#footer strong {
    color: #aaa;
}

.attribute {
    font-style: italic;
}
