<!--footer-->
<div id="footer">
  <div class="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h6 class="title">about the publisher</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <div class="col-md-3">
          <h6 class="title">terms and conditions</h6>
          <p>
            All rights reserved. This site and its contents &ndash; in whole or
            part &ndash; may not be copied, stored, reproduced or transmitted in
            any form or by any means, without the prior written permission of
            the copyright holders
          </p>
        </div>
        <div class="col-md-3">
          <h6 class="title">contact us</h6>
          <p><strong>Your Contact Name</strong></p>
          <address>
            <strong>Email</strong><br />
            <a href="mailto:#">contact@email.com</a>
          </address>
          <div class="follow_us-left">
            <a data-rel="tooltip" href="#" title="Facebook"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a data-rel="tooltip" href="#" title="LinkedIn"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a data-rel="tooltip" href="#" title="Twitter"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a data-rel="tooltip" href="#" title="Instagram"
              ><i class="fa-brands fa-instagram"></i
            ></a>
          </div>
          <hr />
          <p>publisher: <strong>Film Critics Guild</strong></p>
          <h6 class="title"></h6>
          <address>
            Your address here<br />
            More address lines here<br />
            India
          </address>
          <address>
            <strong>Telephone</strong><br />
            +91-1111111111, +91-2222222222 &amp; 33333333
          </address>
          <address>
            <strong>Email</strong><br />
            <a href="mailto:#">info@somedomain.com</a>
          </address>
        </div>
        <div class="col-md-3">
          <h6 class="title">attributions</h6>
          <p>
            Text<br />
            <strong>Whoever writes the text</strong>
          </p>
          <p>Text editor: <strong>Whoever edits text</strong>.</p>
          <p>
            Copyright:<br />
            <strong>Film Critics Guild</strong><br />
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--bottom footer-->
  <div class="footer_bottom">
    <div class="wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="copyright">
              <strong>Film Critics Guild</strong>
              &copy;
              <script type="text/javascript">
                var d = new Date();
                document.write(d.getFullYear());
              </script>
              - All Rights Reserved <br />
            </div>
          </div>
          <div class="col-md-7">
            <div class="foot_right_block">
              <div class="follow_us-right text-align-left">
                <a data-rel="tooltip" href="#" title="Twitter"
                  ><i class="fa-brands fa-facebook"></i
                ></a>
                <a data-rel="tooltip" href="#" title="Facebook"
                  ><i class="fa-brands fa-twitter"></i
                ></a>
                <a data-rel="tooltip" href="#" title="LinkedIn"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a data-rel="tooltip" href="#" title="Instagram"
                  ><i class="fa-brands fa-instagram"></i
                ></a>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
