<div class="navigate">
  <div class="row pb-5">
    <div class="col-lg-4">
      <div class="text-center">
        <img
          class="text-center mb-3"
          src="/images/bg-red-awards.png"
          height="50" />
      </div>
      <h5 class="fw-bold text-center mb-3">Critics Choice Awards</h5>
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here'.
        <a href="#">See all Critics Choice Awards</a>
      </p>
    </div>
    <div class="col-lg-4">
      <div class="text-center">
        <img
          class="text-center mb-3"
          src="/images/bg-red-guild.png"
          height="50" />
      </div>
      <h5 class="fw-bold text-center mb-3">Outreach Programmes</h5>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour, or
        randomised words which don't look even slightly believable as opposed to
        using 'Content here.
        <a href="#">Browse our outreach activities</a>
      </p>
    </div>
    <div class="col-lg-4">
      <div class="text-center">
        <img
          class="text-center mb-3"
          src="/images/bg-red-reviews.png"
          height="50" />
      </div>

      <h5 class="fw-bold text-center mb-3">Member Reviews</h5>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC, making it
        over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia.
        <a href="#">Browse our member reviews</a>
      </p>
    </div>
  </div>
</div>
