<div class="navigate">
  <div class="row pb-5">
    <div class="col-lg-4">
      <div class="text-center">
        <img
          class="text-center mb-3"
          src="/images/bg-red-awards.png"
          height="50" />
      </div>
      <h5 class="fw-bold text-center mb-3">Critics Choice Awards</h5>
      <p>
        Since 2018, the Film Critics Guild and Motion Content Group in
        collaboration with Vistas Media Capital have showcased, recognised and
        rewarded the best talent coming out from different film industries, all
        across India. Our aim have championed short films, web series and
        feature films all on the same platform across all Indian languages,
        through an unbiased, credible, transparent process.
      </p>
    </div>
    <div class="col-lg-4">
      <div class="text-center">
        <img
          class="text-center mb-3"
          src="/images/bg-red-guild.png"
          height="50" />
      </div>
      <h5 class="fw-bold text-center mb-3">Outreach Programmes</h5>
      <p>
        Film Critics Guild aims to carry out meaningful conversations around
        film criticism across the country, in different cities as a part of our
        robust year-round programme. We collaborate with different
        organizations, film festivals and educational institutions to carry out
        film screenings, workshops and panel discussions on the art of film
        criticism.
      </p>
    </div>
    <div class="col-lg-4">
      <div class="text-center">
        <img
          class="text-center mb-3"
          src="/images/bg-red-reviews.png"
          height="50" />
      </div>

      <h5 class="fw-bold text-center mb-3">Member Reviews</h5>
      <p>
        Film Critics Guild currently has 57 members spread across 13 different
        cities, who regularly review the films released every week, across all
        Indian languages. Our mandate is to further the cause of credible and
        ethical film criticism in the country. This site collates reviews by
        members which you can browse
        <a href="/reviews">starting here</a>, or look for a specific film using
        our <a href="/mreviews">alphabetic index</a> of films.
      </p>
    </div>
  </div>
</div>
