{{ $n := .n }}
{{ $colWidth := div 12 $n }}
{{ $countMax := mul 2 $n }}
{{ $stories := slice }}
{{ $criticMap := dict }}

{{ range where site.RegularPages "Section" "reviews" }}
    {{ if ne .Params.media "print" }}{{ continue }}{{ end }}
    {{ $critic := index .Params.critics 0 }}
    {{ if (index $criticMap $critic) }}{{ continue }}{{ end }}
    {{ $stories = append (slice .) $stories }}
    {{ $criticMap = merge $criticMap (dict $critic 1) }}
    {{ if ge ($stories | len) $countMax }}{{ break }}{{ end }}
{{ end }}

{{ $extLinkIcon := index site.Data.svgicons.icons "externalLink" }}
<div class="row">
    {{ range $stories }}
        <div class="col-lg-{{- $colWidth }} mb-5">
            {{ partial "inline/print-review" . }}
        </div>
    {{ end }}
</div>

{{ define "partials/inline/print-review" }}
    {{ $extLinkIcon := index site.Data.svgicons.icons "externalLink" }}
    {{ $critic := index .Params.critics 0 }}
    <h6 class="fw-bold">
        <span class="d-inline-block pb-2">{{ .Title }}</span>
        <br />
        {{ partial "taxonomy/critics/reviewLink" $critic }}
    </h6>
    <img
        src="/images/reviews/{{- .Params.img }}"
        class="img-responsive w-100 mb-3" />
    <h6 class="fw-bold small pb-2">
        {{ .Params.subtitle | safeHTML }}
    </h6>
    <p class="summary small text-primary-emphasis">
        {{ .Params.opening }}
    </p>
    <div class="small">
        {{ .Summary }}
    </div>
    <p class="small mb-1">
        <a
            target="_blank"
            href="{{ .Params.source }}"
            class="d-flex align-items-center">
            {{ $extLinkIcon | safeHTML }} Continue reading &hellip;</a
        >
    </p>
    {{ partial "taxonomy/mreviews/reviewLink" .Title }}
    <hr class="show-on-phone pb-3" />
{{ end }}
