{{ $section := .section }}
{{ $n := .n }}
{{ $colWidth := div 12 $n }}
{{ $stories := first $n (where site.RegularPages "Section" $section) }}
<div class="row">
  {{ range $stories }}
    <div class="col-lg-{{- $colWidth }}">
      <img
        src="/images/news/{{- .Params.img }}"
        class="img-responsive w-100 mb-3" />
      <h6 class="fw-bold">
        {{ .LinkTitle }}
      </h6>
      <div class="small">
        {{ .Summary }}
      </div>
      <hr class="show-on-phone py-3" />
    </div>
  {{ end }}
</div>
