{{ $n := .n }}
{{ $colWidth := div 12 $n }}
{{ $stories := first $n (where (where site.RegularPages "Section" "reviews") "Type" "print") }}
<div class="row">
  {{ range $stories }}
    {{ if eq .Type "print" }}
      <div class="col-lg-{{- $colWidth }}">
        <h6 class="fw-bold">
          {{ .Title }}<br />
          <span class="small"><a href="#">{{ .Params.author }}</a></span>
        </h6>
        <img
          src="/images/reviews/{{- .Params.img }}"
          class="img-responsive w-100 mb-3" />
        <h6 class="fw-bold small pb-2">
          {{ .Params.subtitle | safeHTML }}
        </h6>
        <p class="summary small text-primary-emphasis">
          {{ .Params.opening }}
        </p>
        <div class="small">
          {{ .Summary }}
        </div>
        <p class="small">
          <a
            target="_blank"
            href="{{ .Params.source }}"
            class="d-flex align-items-center">
            <svg
              fill="none"
              height="24"
              viewBox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <filter
                id="a"
                color-interpolation-filters="sRGB"
                filterUnits="userSpaceOnUse"
                height="22"
                width="24"
                x=".5"
                y="1.5">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  mode="normal"
                  result="shape" />
                <feColorMatrix
                  in="SourceAlpha"
                  result="hardAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset />
                <feGaussianBlur stdDeviation=".25" />
                <feComposite
                  in2="hardAlpha"
                  k2="-1"
                  k3="1"
                  operator="arithmetic" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.3 0" />
                <feBlend
                  in2="shape"
                  mode="normal"
                  result="effect1_innerShadow_19_598" />
                <feColorMatrix
                  in="SourceAlpha"
                  result="hardAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dx="-1" dy="1" />
                <feGaussianBlur stdDeviation="1" />
                <feComposite
                  in2="hardAlpha"
                  k2="-1"
                  k3="1"
                  operator="arithmetic" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                <feBlend
                  in2="effect1_innerShadow_19_598"
                  mode="normal"
                  result="effect2_innerShadow_19_598" />
                <feColorMatrix
                  in="SourceAlpha"
                  result="hardAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dx="2" />
                <feGaussianBlur stdDeviation="2" />
                <feComposite
                  in2="hardAlpha"
                  k2="-1"
                  k3="1"
                  operator="arithmetic" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0.220833 0 0 0 0 0.220833 0 0 0 0 0.220833 0 0 0 0.28 0" />
                <feBlend
                  in2="effect2_innerShadow_19_598"
                  mode="normal"
                  result="effect3_innerShadow_19_598" />
                <feColorMatrix
                  in="SourceAlpha"
                  result="hardAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dx="1" dy="1" />
                <feGaussianBlur stdDeviation="1.5" />
                <feComposite
                  in2="hardAlpha"
                  k2="-1"
                  k3="1"
                  operator="arithmetic" />
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0.2 0 0 0 0 0.199167 0 0 0 0 0.199217 0 0 0 0.1 0" />
                <feBlend
                  in2="effect3_innerShadow_19_598"
                  mode="normal"
                  result="effect4_innerShadow_19_598" />
              </filter>
              <pattern
                id="b"
                height=".791667"
                patternContentUnits="objectBoundingBox"
                width="1.05556" />
              <g
                filter="url(#a)"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1">
                <path
                  d="m18 13v6c0 .5304-.2107 1.0391-.5858 1.4142s-.8838.5858-1.4142.5858h-11c-.53043 0-1.03914-.2107-1.41421-.5858-.37508-.3751-.58579-.8838-.58579-1.4142v-11c0-.53043.21071-1.03914.58579-1.41421.37507-.37508.88378-.58579 1.41421-.58579h6m4-3h6m0 0v6m0-6-11 11"
                  stroke="#000" />
                <path
                  d="m18 13v6c0 .5304-.2107 1.0391-.5858 1.4142s-.8838.5858-1.4142.5858h-11c-.53043 0-1.03914-.2107-1.41421-.5858-.37508-.3751-.58579-.8838-.58579-1.4142v-11c0-.53043.21071-1.03914.58579-1.41421.37507-.37508.88378-.58579 1.41421-.58579h6m4-3h6m0 0v6m0-6-11 11"
                  stroke="url(#b)"
                  stroke-opacity=".05" />
              </g>
            </svg>
            Continue reading</a
          >
        </p>
      </div>
    {{ end }}
  {{ end }}
</div>
