{{ $section := .section }}
{{ $n := .n }}
{{ $colWidth := div 12 $n }}
{{ $stories := first $n (where site.RegularPages "Section" $section) }}
<div class="row">
  {{ range $stories }}
    <div class="col-lg-{{- $colWidth }}">
      <img
        src="/images/news/{{- .Params.img }}"
        class="img-responsive w-100 mb-3" />
      <h6 class="fw-bold mb-4">
        <a href="{{- .Permalink }}">{{ .LinkTitle }}</a>
      </h6>
      {{ .Summary }}
      <p class="small"><a href="{{ .Permalink }}">Continue reading</a></p>
    </div>
  {{ end }}
</div>
