{{ define "video-review" }}
  {{ $critic := index .Params.critics 0 }}
  {{ $revCount := .Site.Taxonomies.mreviews.Count .Title }}
  {{ $revPage := index .Site.Taxonomies.mreviews (lower .Title) }}
  {{ $critPage := index .Site.Taxonomies.critics (lower $critic) }}
  <h6 class="fw-bold">
    {{ .Title }}<br />
    <span class="small"
      ><a href="{{ $critPage.Page.Permalink }}">{{ $critic }}</a></span
    >
  </h6>
  {{ .Content }}
  <h6 class="fw-bold small pt-1 pb-3">
    {{ .Params.subtitle }}
  </h6>
  {{ if gt $revCount 1 }}
    <h6 class="fw-bold small">
      Read all {{ $revCount }} reviews of
      {{ .Title }}
      <a href="{{ $revPage.Page.Permalink }}">here</a>
    </h6>
  {{ end }}
  <hr />
{{ end }}
