{{ define "main" }}
    {{ $paginator := .Paginate .Pages 6 }}
    {{ $pageReviews := $paginator.Pages }}
    {{ $titles := slice }}
    {{ range $pageReviews }}
        {{ $titles = append .Title $titles }}
    {{ end }}
    {{ $critBio := index (where (where site.RegularPages "Section" "guild") "Title" .LinkTitle) 0 }}
    <!-- Template: critics/term.html -->
    <div class="container col-lg-10 px-1 py-2">
        <div class="row flex-lg-row-reverse align-items-center g-5 mt-5">
            <div class="col-lg-6">
                <img
                    src="/images/reviews/critic_review.png"
                    class="d-block mx-lg-auto img-responsive w-100"
                    alt="Side Banner"
                    loading="lazy" />
            </div>
            <div class="col-lg-6">
                <div class="row ps-4">
                    {{ with $critBio }}
                        <h5 class="mb-3">
                            Recent Reviews by {{ .LinkTitle }}<br />
                            <span class="small"
                                >{{ delimit .Params.designations ", " }}</span
                            >
                        </h5>
                        <div class="col-lg-4">
                            <img
                                src="{{ .Params.img }}"
                                class="mt-1 img-responsive w-100" />
                        </div>
                        <div class="col-lg-8 small">
                            {{ .Summary }}
                            <h6 class="fw-bold">Films reviewed on this Page</h6>
                            <p class="small">
                                {{ range ($titles | uniq) }}
                                    {{ $titleAnchor := lower (replace . " " "-") }}
                                    <a
                                        class="fira-sans-regular"
                                        href="#{{- $titleAnchor -}}"
                                        >{{ . }}</a
                                    ><br />
                                {{ end }}
                            </p>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a class="anchor" id="pg-top"></a>
        <div class="d-flex justify-content-center py-3 mb-3">
            {{ template "_internal/pagination.html" . }}
        </div>
        <div class="row ps-3">
            <div class="col-md-5 offset-md-1 highlight">
                {{ $videoReviews := where $pageReviews "Params.media" "video" }}
                <div class="row">
                    <h5 class="my-4">Video Reviews</h5>
                    {{ if $videoReviews | len }}
                        {{ range  $videoReviews }}
                            <div class="col-md-12">
                                {{ block "video-review" . }}{{ end }}
                            </div>
                        {{ end }}
                    {{ else }}
                        <h6 class="small px-4">
                            No Video reviews by
                            {{ $critBio.LinkTitle }}
                            available for this period.
                        </h6>
                    {{ end }}
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    {{ $printReviews := where $pageReviews "Params.media" "print" }}
                    <h5 class="my-4">Print/Online Reviews</h5>
                    {{ if $printReviews | len }}
                        {{ range  $printReviews }}
                            <div class="col-md-12">
                                {{ block "print-review" . }}{{ end }}
                            </div>
                        {{ end }}
                    {{ else }}
                        <h6 class="small px-4">
                            No Print/Online reviews by
                            {{ $critBio.LinkTitle }}
                            available for this period.
                        </h6>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center py-3 mb-3">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
    <script>
        let url = window.location.href;
        const mch = url.match(/page\/(\d+)\/$/);
        if (mch && mch[1] !== 1) {
            let anch = document.getElementById("pg-top");
            window.addEventListener("load", function (e) {
                anch.scrollIntoView();
            });
        }
    </script>
{{ end }}

{{ define "print-review" }}
    {{ $extLinkIcon := index site.Data.svgicons.icons "externalLink" }}
    {{ $intLinkIcon := index site.Data.svgicons.icons "internalLink" }}
    {{ $critic := index .Params.critics 0 }}
    {{ $revCount := .Site.Taxonomies.mreviews.Count .Title }}
    {{ $revPage := index .Site.Taxonomies.mreviews (lower .Title) }}
    {{ $critPage := index .Site.Taxonomies.critics (lower $critic) }}
    {{ $titleAnchor := lower (replace .Title " " "-") }}
    <a class="anchor" id="{{- $titleAnchor -}}"></a>
    <h6 class="fw-bold">{{ .Title }}</h6>
    <img
        src="/images/reviews/{{- .Params.img }}"
        class="img-responsive w-100 mb-3" />
    <h6 class="fw-bold small pb-2">
        {{ .Params.subtitle | safeHTML }}
    </h6>
    <p class="summary small text-primary-emphasis">
        {{ .Params.opening }}
    </p>
    <div class="small">
        {{ .Content }}
    </div>
    <p class="small mb-1">
        <a
            target="_blank"
            href="{{ .Params.source }}"
            class="d-flex align-items-center">
            {{ $extLinkIcon | safeHTML }} Continue reading &hellip;</a
        >
    </p>
    {{ if gt $revCount 1 }}
        <h6 class="fw-bold small">
            Read all {{ $revCount }} reviews of
            {{ .Title }}
            <a href="{{ $revPage.Page.RelPermalink }}"
                >here {{ $intLinkIcon | safeHTML }}</a
            >
        </h6>
    {{ end }}
    <hr />
{{ end }}

{{ define "video-review" }}
    {{ $critic := index .Params.critics 0 }}
    {{ $intLinkIcon := index site.Data.svgicons.icons "internalLink" }}
    {{ $revCount := .Site.Taxonomies.mreviews.Count .Title }}
    {{ $revPage := index .Site.Taxonomies.mreviews (lower .Title) }}
    {{ $critPage := index .Site.Taxonomies.critics (lower $critic) }}
    {{ $titleAnchor := lower (replace .Title " " "-") }}
    <a class="anchor" id="{{- $titleAnchor -}}"></a>
    <h6 class="fw-bold">{{ .Title }}</h6>
    {{ .Content }}
    <h6 class="fw-bold small pt-1 pb-3">
        {{ .Params.subtitle }}
    </h6>
    {{ if gt $revCount 1 }}
        <h6 class="fw-bold small">
            Read all {{ $revCount }} reviews of
            {{ .Title }}
            <a href="{{ $revPage.Page.RelPermalink }}"
                >here {{ $intLinkIcon | safeHTML }}</a
            >
        </h6>
    {{ end }}
    <hr />
{{ end }}
