{{ define "main" }}
    {{ $paginator := .Paginate .Pages 10 }}
    {{ $pageReviews := $paginator.Pages }}
    {{ $titles := slice }}
    {{ range $pageReviews }}
        {{ $titles = append .Title $titles }}
    {{ end }}
    {{ $critBio := index (where (where site.RegularPages "Section" "guild") "Title" .LinkTitle) 0 }}
    <!-- Template: critics/term.html -->
    <div class="container col-lg-8 px-2 py-2">
        <div class="row flex-lg-row-reverse align-items-top g-5 mt-5">
            <div class="col-lg-4">
                <img
                    src="/images/reviews/critic_review.png"
                    class="d-block mx-lg-auto img-responsive w-100"
                    alt="Side Banner"
                    loading="lazy" />
            </div>
            <div class="col-lg-8">
                <div class="row ps-4">
                    {{ with $critBio }}
                        <h5 class="mb-0">
                            Recent Reviews by
                            {{ .LinkTitle }}
                        </h5>
                        <h6>
                            <span class="small"
                                >{{ partial "organization" .Params.organizations }}</span
                            >
                        </h6>
                        <div class="col-lg-4">
                            <img
                                src="{{ .Params.img }}"
                                class="mt-1 img-responsive w-100" />
                        </div>
                        <div class="col-lg-8 small">
                            {{ .Summary }}
                            <h6 class="fw-bold">Films reviewed on this Page</h6>
                            <p class="small">
                                {{ range ($titles | uniq) }}
                                    {{ $titleAnchor := lower (replace . " " "-") }}
                                    <a
                                        class="fira-sans-regular"
                                        href="#{{- $titleAnchor -}}"
                                        >{{ . }}</a
                                    ><br />
                                {{ end }}
                            </p>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a class="anchor" id="pg-top"></a>
        <div class="d-flex justify-content-center py-3 mb-3">
            {{ template "_internal/pagination.html" . }}
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                {{ range  $pageReviews }}
                    {{ if eq .Params.media "print" }}
                        {{ partial "taxonomy/critics/print-review" . }}
                    {{ else }}
                        {{ partial "taxonomy/critics/video-review" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="d-flex justify-content-center py-3 mb-3">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
    <script>
        let url = window.location.href;
        const mch = url.match(/page\/(\d+)\/$/);
        if (mch && mch[1] !== 1) {
            let anch = document.getElementById("pg-top");
            window.addEventListener("load", function (e) {
                anch.scrollIntoView();
            });
        }
    </script>
{{ end }}
