{{ define "main" }}
  <div class="container col-lg-8 px-2 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 mt-5">
      <div class="col-lg-6">
        <img
          src="/images/reviews/Reviews.Pg.Image.png"
          class="d-block mx-lg-auto img-responsive w-100"
          alt="Side Banner"
          loading="lazy" />
        <!-- <p class="small">
          Image used as a filler - may change in the final version
        </p> -->
      </div>
      <div class="col-lg-6 lead">
        <h4>All Recent Reviews of<br />{{ .LinkTitle }}</h4>
      </div>
    </div>
  </div>

  {{ $paginator := .Paginate .Pages 6 }}
  {{ $pageReviews := $paginator.Pages }}
  <div class="container">
    <div class="d-flex justify-content-center py-3 mb-3">
      {{ template "_internal/pagination.html" . }}
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-1 highlight">
        {{ $videoReviews := where $paginator.Pages "Type" "video" }}
        <div class="row">
          <h4 class="my-4">Video Reviews</h4>
          {{ if $videoReviews | len }}
            {{ range  $videoReviews }}
              <div class="col-md-12">
                {{ block "video-review" . }}{{ end }}
              </div>
            {{ end }}
          {{ else }}
            <h6>No Video reviews available in this period.</h6>
          {{ end }}
        </div>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="row">
          {{ $printReviews := where $paginator.Pages "Type" "print" }}
          {{ if $printReviews | len }}
            <h4 class="my-4">Print/Online Reviews</h4>
            {{ range  $printReviews }}
              <div class="col-md-12">
                {{ block "print-review" . }}{{ end }}
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-3 mb-3">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
  <script>
    let url = window.location.href;
    const mch = url.match(/page\/(\d+)\/$/);
    if (mch && mch[1] !== 1) {
      let anch = document.getElementById("pg-top");
      window.addEventListener("load", function (e) {
        anch.scrollIntoView();
      });
    }
  </script>
{{ end }}

{{ define "print-review" }}
  {{ $extLinkIcon := index site.Data.svgicons.icons "external-link" }}
  {{ $critic := index .Params.critics 0 }}
  {{ $revCount := .Site.Taxonomies.mreviews.Count .Title }}
  {{ $revPage := index .Site.Taxonomies.mreviews (lower .Title) }}
  {{ $critPage := index .Site.Taxonomies.critics (lower $critic) }}
  <h6 class="fw-bold">
    {{ .Title }}
    <br />
    <span class="small"
      ><a href="{{ $critPage.Page.Permalink }}">{{ $critic }}</a></span
    >
  </h6>
  <img
    src="/images/reviews/{{- .Params.img }}"
    class="img-responsive w-100 mb-3" />
  <h6 class="fw-bold small pb-2">
    {{ .Params.subtitle | safeHTML }}
  </h6>
  <p class="summary small text-primary-emphasis">
    {{ .Params.opening }}
  </p>
  <div class="small">
    {{ .Content }}
  </div>
  {{ if gt $revCount 1 }}
    <h6 class="fw-bold small">
      Read all {{ $revCount }} reviews of
      {{ .Title }}
      <a href="{{ $revPage.Page.Permalink }}">here</a>
    </h6>
  {{ end }}
  <p class="small">
    <a
      target="_blank"
      href="{{ .Params.source }}"
      class="d-flex align-items-center">
      {{ $extLinkIcon | safeHTML }} Continue reading &hellip;</a
    >
  </p>
  <hr />
{{ end }}

{{ define "video-review" }}
  {{ $critic := index .Params.critics 0 }}
  {{ $revCount := .Site.Taxonomies.mreviews.Count .Title }}
  {{ $revPage := index .Site.Taxonomies.mreviews (lower .Title) }}
  {{ $critPage := index .Site.Taxonomies.critics (lower $critic) }}
  <h6 class="fw-bold">
    {{ .Title }}<br />
    <span class="small"
      ><a href="{{ $critPage.Page.Permalink }}">{{ $critic }}</a></span
    >
  </h6>
  {{ .Content }}
  <h6 class="fw-bold small pt-1 pb-3">
    {{ .Params.subtitle }}
  </h6>
  {{ if gt $revCount 1 }}
    <h6 class="fw-bold small">
      Read all {{ $revCount }} reviews of
      {{ .Title }}
      <a href="{{ $revPage.Page.Permalink }}">here</a>
    </h6>
  {{ end }}
  <hr />
{{ end }}
