{{ define "main" }}
  <div class="container my-5 py-5">
    <div class="row">
      <h1 class="fw-bold mb-5">Alphabetical Index of Films Reviewed</h1>
      {{ range sort .Pages "LinkTitle" }}
        <div class="col-md-3 py-4 mx-3 mb-5 border border-secondary-subtle">
          <p>
            <a class="fw-bold fira-sans-regular" href="{{ .RelPermalink }}"
              >{{ .LinkTitle }}
              {{ index site.Data.svgicons.icons "internalLink" | safeHTML }}
            </a>
          </p>
          <p class="fira-sans-regular">Reviewed By:</p>
          <ul class="small list-unstyled">
            {{ $pages := where (where site.RegularPages "Section" "reviews") "LinkTitle" .LinkTitle }}
            {{ $reviewers := slice }}
            {{ range $pages }}
              {{ $reviewers = $reviewers | append (index .Params.critics 0) }}
            {{ end }}
            {{ range sort $reviewers }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
