{{ define "main" }}
    {{ $paginator := .Paginate .Pages 10 }}
    {{ $pageReviews := $paginator.Pages }}
    <!-- Template: mreviews/term.html -->
    <div class="container col-lg-8 px-2 py-2">
        <div class="row flex-lg-row-reverse align-items-center g-5 mt-5">
            <div class="col-lg-6">
                <img
                    src="/images/logo.png"
                    class="d-block mx-lg-auto img-responsive w-100"
                    alt="Side Banner"
                    loading="lazy" />
                <!-- <p class="small">
          Image used as a filler - may change in the final version
        </p> -->
            </div>
            <div class="col-lg-6">
                <div class="ps-3">
                    <a class="anchor" id="pg-top"></a>
                    <h4 class="fw-bold lead mb-5">
                        All Recent Reviews of<br />{{ .LinkTitle }}
                    </h4>
                    <h6 class="fw-bold">Reviewers on this page:</h6>
                    <p class="small">
                        {{ range $pageReviews }}
                            {{ $critic := index .Page.Params.critics 0 }}
                            {{ $criticAnchor := lower (replace $critic " " "-") }}
                            <a
                                href="#{{- $criticAnchor -}}"
                                class="fira-sans-regular"
                                >{{ $critic }}</a
                            ><br />
                        {{ end }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a class="anchor" id="pg-top"></a>
        <div class="d-flex justify-content-center py-3 mb-3">
            {{ template "_internal/pagination.html" . }}
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                {{ range  $pageReviews }}
                    {{ if eq .Params.media "print" }}
                        {{ partial "taxonomy/mreviews/print-review" . }}
                    {{ else }}
                        {{ partial "taxonomy/mreviews/video-review" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="d-flex justify-content-center py-3 mb-3">
            {{ template "_internal/pagination.html" . }}
        </div>
    </div>
    <script>
        let url = window.location.href;
        const mch = url.match(/page\/(\d+)\/$/);
        if (mch && mch[1] !== 1) {
            let anch = document.getElementById("pg-top");
            window.addEventListener("load", function (e) {
                anch.scrollIntoView();
            });
        }
    </script>
{{ end }}
