{{ define "main" }}
  {{ $index := dict }}
  {{ range .Data.Terms }}
    {{ $map := dict }}
    {{ with index . 0 }}
      {{ $map = merge $map (dict "title" (index .Page.Params.mreviews 0) "img" .Page.Params.img) }}
    {{ end }}
    {{ $reviewers := slice }}
    {{ range . }}
      {{ $reviewers = $reviewers | append (index .Params.critics 0) }}
    {{ end }}
    {{ $map = merge $map (dict "reviewers" ($reviewers | uniq)) }}

    {{/* We have a full info for a single film
      So we now continue to build the index
    */}}

    {{ $firstChar := substr (index $map "title") 0 1 }}
    {{ $value := index $index $firstChar }}
    {{ if $value }}
      {{ $value = $value | append $map }}
    {{ else }}
      {{ $value = slice $map }}
    {{ end }}
    {{ $index = merge $index (dict $firstChar $value) }}
  {{ end }}
  <div class="container pt-5 mt-5">
    <pre>{{ debug.Dump $index }}</pre>
  </div>
{{ end }}
